.card img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

a {
  color: white;
}

.card-body {
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card {
  transition: all 200ms;
  background-color: transparent;
  margin: 20px;
}

.box1 {
  background-color: aliceblue;
  border-radius: 30px;
}
